#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  max-width: 1280px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card{
  max-width: 450px;
  width: 100%;
}
.btn{
  border: none;
  padding: 10px 15px;

}
.danger {
  background-color:hotpink;
}
.success {
  background-color: aquamarine;
}
.list{
  list-style: none;
  text-align: left;
}
